In [53]:
#Installing the required libraries
!pip install faker
!pip install mysql-connector-python

Requirement already satisfied: faker in c:\users\hp\anaconda3\lib\site-packages (37.4.0)
Requirement already satisfied: tzdata in c:\users\hp\anaconda3\lib\site-packages (from faker) (2023.3)
Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (9.3.0)

In [54]:
#Import python modules
from faker import Faker
import mysql.connector
import random

In [55]:
#Establish MySQL Server Connection
import mysql.connector
from mysql.connector import Error

try:
    connection=mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='Shubhi@28'
    )
    #Check if the connection is successful
    if connection.is_connected():
        print("Connected to MySQL server successfully")
        
#Catch and display any connection error        
except Error as e:
    print("Error while connecting to MySQL: ",e)

Connected to MySQL server successfully

In [59]:
#Create cursor to execute SQL commands
cursor = connection.cursor()

cursor.execute("DROP DATABASE IF EXISTS Placement_Project;")

#Create Database Placement_Project
cursor.execute("CREATE DATABASE IF NOT EXISTS Placement_Project;")
print("Database Placement_Project is now ready")

Database Placement_Project is now ready

In [61]:
#Select the database Placement_Project to work with it
connection.database='Placement_Project'
print("Using the database: Placement_project")

Using the database: Placement_project

In [63]:
#Step 1A: Creating the Students Table

#Create a new cursor to execute SQL Queries
cursor=connection.cursor()

#SQL command to create the Students Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Students (
     student_id INT AUTO_INCREMENT PRIMARY KEY,
     full_name VARCHAR(100),
     age INT,
     email VARCHAR(100),
     phone VARCHAR(15),
     gender ENUM('Male', 'Female', 'Other'),
     city VARCHAR(50),
     state VARCHAR(50),
     enrollment_date DATE
     );
     """)

print("Table Students created successfully")

Table Students created successfully

In [65]:
#Create a new cursor to execute SQL commands
cursor=connection.cursor()


#Alter the existing students table to add new columns
alter_query = """
ALTER TABLE Students
ADD COLUMN enrollment_year INT AFTER state,
ADD COLUMN course_batch VARCHAR(50) AFTER enrollment_year,
ADD COLUMN graduation_year INT AFTER course_batch;
"""

try:
    cursor.execute(alter_query)
    connection.commit()
    print("Students table updated successfully")

except Error as e:
    print("Error occured while altering table",e)

Students table updated successfully

In [67]:
cursor.execute("SHOW COLUMNS FROM Students")
columns = cursor.fetchall()

for col in columns:
    print(col[0])

student_id
full_name
age
email
phone
gender
city
state
enrollment_year
course_batch
graduation_year
enrollment_date

In [69]:
#Step 1B: Inserting the fake students records into the Students table
from faker import Faker
import random

#Initialize the Fake generator
fake= Faker()

#Create a loop to generate 10 fake students records
for i in range(10):
    full_name=fake.name()
    age=random.randint(18,25)
    email=fake.email()
    phone=fake.msisdn()[:10]
    gender=random.choice(['Male','Female','Other'])
    city=fake.city()
    state=fake.state()


    #SQL insert command
    insert_query="""
       INSERT INTO Students(full_name, age, email, phone, gender, city, state)
       VALUES (%s, %s, %s, %s, %s, %s, %s)
       """

    values=(full_name,age,email,phone,gender,city,state)

#Executing the command
    cursor.execute(insert_query,values)

#Commit the changes to the database
connection.commit()

print("10 fake students records inserted successfully")

10 fake students records inserted successfully

In [71]:
cursor=connection.cursor()

#Fetch all student_ids
cursor.execute("SELECT student_id FROM Students;")
student_ids = cursor.fetchall()

#Update each student with enrollment_year, course_batch, graduation_year
for student_id_tuple in student_ids:
    student_id = student_id_tuple[0]

    enrollment_year = random.choice(['2018','2019','2020','2021','2022'])
    course_batch = random.choice(['Course A', 'Course B', 'Course C', 'Course D'])
    graduation_year = int(enrollment_year)+3


    update_query="""
    UPDATE Students
    SET enrollment_year = %s,
        course_batch = %s,
        graduation_year = %s
    WHERE student_id = %s
    """

    cursor.execute(update_query, (enrollment_year, course_batch, graduation_year, student_id))

connection.commit()

print("Updated the students table")

Updated the students table

In [73]:
#Optional step --> verify all the data using SQL queries
cursor.execute("SELECT * FROM Students")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Mr. Victor Coleman', 21, 'jesuscarr@example.net', '6865835202', 'Female', 'Port Kathryn', 'Massachusetts', 2019, 'Course D', 2022, None)
(2, 'Matthew Ferguson', 25, 'porteraaron@example.com', '3803755049', 'Male', 'North Colleenborough', 'Nevada', 2018, 'Course D', 2021, None)
(3, 'Courtney Yang', 20, 'crystal52@example.com', '2663748685', 'Male', 'West Sherrystad', 'South Carolina', 2019, 'Course B', 2022, None)
(4, 'Timothy Campbell', 24, 'qsmith@example.com', '5520519514', 'Female', 'Vasquezview', 'New Jersey', 2020, 'Course B', 2023, None)
(5, 'John Johnson', 19, 'gomezmichael@example.net', '8668869425', 'Male', 'East Georgeborough', 'South Carolina', 2019, 'Course D', 2022, None)
(6, 'James Sims', 23, 'cassandrawilliams@example.net', '9741167504', 'Female', 'Hernandezville', 'Texas', 2018, 'Course C', 2021, None)
(7, 'Danielle Greer', 19, 'robert87@example.org', '7895256496', 'Female', 'Tuckershire', 'Michigan', 2018, 'Course A', 2021, None)
(8, 'Mr. Jerry Lawrence', 25, 'sheltoncurtis@example.com', '0921269677', 'Other', 'Devinton', 'Oklahoma', 2022, 'Course C', 2025, None)
(9, 'Jennifer Martin', 25, 'amanda98@example.com', '7239668887', 'Other', 'Katherinestad', 'Maryland', 2018, 'Course A', 2021, None)
(10, 'Amy Sutton', 20, 'sturner@example.net', '0982686313', 'Female', 'Jordanshire', 'Nevada', 2022, 'Course B', 2025, None)

In [75]:
#Step 2A: Create Programming table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Programming (
     Programming_id INT AUTO_INCREMENT PRIMARY KEY,
     student_id INT,
     language VARCHAR(50),
     problems_solved INT,
     assessments_completed INT,
     mini_projects INT,
     certifications_earned INT,
     latest_project_score FLOAT,
     FOREIGN KEY (student_id) REFERENCES Students(student_id)
     )"""
              )

connection.commit()
print("Programming table created successfully")

Programming table created successfully

In [77]:
#Step 2B: Inserting fake programming data using faker
from faker import Faker
fake=Faker()

cursor=connection.cursor()
#Retrieve all student_id from Students table
cursor.execute("SELECT student_id FROM Students")
student_ids=cursor.fetchall()

#Loop through each student_id and insert fake programming data
for student_id_tuple in student_ids:
    #Extract the student_id
    student_id = student_id_tuple[0]

    #Generating fake programming table data using faker
    language=fake.random_element(elements=('Python','C++','Java','SQL','JavaScript'))
    problems_solved=fake.random_int(min=20,max=200)
    assessments_completed=fake.random_int(min=1,max=50)
    mini_projects=fake.random_int(min=1,max=5)
    certifications_earned=fake.random_int(min=0,max=10)
    latest_project_score=fake.pyfloat(
        left_digits=2, right_digits=2, positive=True,
        min_value=50.0, max_value=100.0
    )


#SQL insert command
    insert_query="""
    INSERT INTO Programming(
        student_id,language,problems_solved,assessments_completed,
        mini_projects,certifications_earned,latest_project_score
        ) VALUES (%s, %s, %s, %s, %s, %s, %s)
        """

    values=(student_id,language,problems_solved,assessments_completed,
        mini_projects,certifications_earned,latest_project_score)

    cursor.execute(insert_query,values)

#Save all changes
connection.commit()
print("Fake programming data inserted successfully using faker")

Fake programming data inserted successfully using faker

In [79]:
#Optional --> to verify programming table data
cursor.execute("SELECT * FROM Programming")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 1, 'SQL', 150, 19, 3, 6, 82.31)
(2, 2, 'SQL', 49, 23, 1, 8, 50.94)
(3, 3, 'Java', 127, 37, 5, 5, 62.95)
(4, 4, 'Java', 120, 22, 3, 0, 55.47)
(5, 5, 'C++', 92, 6, 3, 2, 71.18)
(6, 6, 'Python', 62, 30, 4, 3, 56.87)
(7, 7, 'Java', 138, 18, 1, 1, 58.2)
(8, 8, 'SQL', 73, 34, 3, 0, 89.83)
(9, 9, 'JavaScript', 93, 44, 3, 3, 50.14)
(10, 10, 'C++', 118, 25, 3, 4, 78.13)

In [81]:
#Step 3A: Creating the Soft Skills table
cursor=connection.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Soft_skills(
    soft_skill_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    communication INT,
    teamwork INT,
    presentation INT,
    leadership INT,
    critical_thinking INT,
    interpersonal_skills INT,
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
    )"""
              )

print("Soft Skills table created successfully")

Soft Skills table created successfully

In [83]:
cursor.execute("DELETE FROM Soft_skills")
connection.commit()
print("✅ Soft_skills table cleared")

✅ Soft_skills table cleared

In [85]:
#Step 3B: Inserting fake Soft skills data using faker
from faker import Faker

#Initialize Faker
fake=Faker()

#Get all student_ids from the Students table
cursor=connection.cursor()
cursor.execute("SELECT student_id FROM Students;")
student_ids=cursor.fetchall()

#Loop through each student_id and insert the data into Soft skills table
for student_id_tuple in student_ids:
    student_id=student_id_tuple[0]

    #Generate soft skills scores using faker(out of 100)
    communication=fake.pyint(min_value=0,max_value=100)
    teamwork=fake.pyint(min_value=0,max_value=100)
    presentation=fake.pyint(min_value=0,max_value=100)
    leadership=fake.pyint(min_value=0,max_value=100)
    critical_thinking=fake.pyint(min_value=0,max_value=100)
    interpersonal_skills=fake.pyint(min_value=0,max_value=100)


    #SQL Insert command
    insert_query="""
    INSERT INTO Soft_skills(
        student_id,communication,teamwork,presentation,
        leadership,critical_thinking,interpersonal_skills
    ) VALUES(%s,%s,%s,%s,%s,%s,%s)
    """

    values=(
        student_id,communication,teamwork,presentation,
        leadership,critical_thinking,interpersonal_skills
    )

    #Execute and insert into table
    cursor.execute(insert_query,values)

#Saving all the changes
connection.commit()
print("Soft Skills data inserted using Faker")

Soft Skills data inserted using Faker

In [87]:
#Optional --> to verify soft skills table data
cursor.execute("SELECT * FROM Soft_skills")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 1, 28, 99, 25, 46, 93, 34)
(2, 2, 90, 2, 83, 85, 86, 23)
(3, 3, 27, 15, 16, 88, 41, 78)
(4, 4, 78, 42, 35, 81, 39, 88)
(5, 5, 73, 82, 39, 58, 52, 10)
(6, 6, 96, 25, 11, 71, 91, 27)
(7, 7, 70, 17, 48, 84, 1, 21)
(8, 8, 44, 31, 93, 41, 24, 72)
(9, 9, 48, 19, 63, 85, 20, 32)
(10, 10, 18, 72, 4, 80, 88, 85)

In [89]:
#Step 4A: Creating the placements table
cursor=connection.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Placements(
   Placement_id INT AUTO_INCREMENT PRIMARY KEY,
   student_id INT,
   mock_interview_score INT,
   internships_completed INT,
   placement_status ENUM('Ready','Not Ready','Placed'),
   company_name VARCHAR(100),
   placement_package FLOAT,
   interview_rounds_cleared INT,
   placement_date DATE,
   FOREIGN KEY (student_id) REFERENCES Students(student_id)
   )
   """)

#Commiting the changes
connection.commit()

print("Placements table created successfully")

Placements table created successfully

In [91]:
#STEP 4B:Insering fake data into the Placements table using faker
from faker import Faker

#Initializing Faker
fake=Faker()

#Getting all the students ids from the Students table
cursor=connection.cursor()
cursor.execute("SELECT student_id FROM Students")
student_ids=cursor.fetchall()

#Loop through each student_id and insert data into the Placements table
for student_id_tuple in student_ids:
    student_id=student_id_tuple[0]

    #Generate Placements table data using faker
    mock_interview_score = fake.pyint(min_value=30,max_value=100)
    internships_completed = fake.pyint(min_value=0,max_value=3)
    placement_status=fake.random_element(elements=('Ready','Not Ready','Placed'))

    #If Placed, generate company name, package, date
    if placement_status=='Placed':
        company_name=fake.company()
        placement_package=round(fake.pyfloat(left_digits=2,right_digits=2,positive=True, min_value=3.0, max_value=20.0),2)
        placement_date=fake.date_between(start_date='-1y',end_date='today')

    else:
        company_name=None
        placement_package=None
        placement_date=None

    interview_rounds_cleared=fake.pyint(min_value=1,max_value=5)
    
    #SQL INSERT QUERY
    insert_query="""
    INSERT INTO Placements(
        student_id, mock_interview_score, internships_completed,
        placement_status, company_name, placement_package,
        interview_rounds_cleared, placement_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """

    #Values to insert
    values=(
        student_id, mock_interview_score, internships_completed,
        placement_status, company_name, placement_package,
        interview_rounds_cleared, placement_date)

    #Execute insertion
    cursor.execute(insert_query, values)

#Commit all the changes to the database
connection.commit()

print("Placement data inserted for all students using Faker")

Placement data inserted for all students using Faker

In [93]:
#Optional step --> verify all the data using SQL queries
cursor.execute("SELECT * FROM Placements")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 1, 54, 1, 'Not Ready', None, None, 1, None)
(2, 2, 63, 0, 'Ready', None, None, 3, None)
(3, 3, 31, 1, 'Placed', 'Carey-Morgan', 17.4, 2, datetime.date(2024, 8, 18))
(4, 4, 43, 0, 'Not Ready', None, None, 1, None)
(5, 5, 91, 3, 'Placed', 'Rivera Group', 17.94, 4, datetime.date(2024, 9, 3))
(6, 6, 57, 0, 'Placed', 'Arnold-Bennett', 12.95, 2, datetime.date(2024, 7, 13))
(7, 7, 38, 3, 'Placed', 'Stephens Inc', 12.24, 2, datetime.date(2025, 4, 25))
(8, 8, 91, 3, 'Ready', None, None, 5, None)
(9, 9, 72, 2, 'Placed', 'Smith and Sons', 9.12, 3, datetime.date(2024, 10, 1))
(10, 10, 52, 2, 'Placed', 'Thomas and Sons', 12.7, 3, datetime.date(2025, 6, 22))

In [95]:
import sys
import os

#Confirm current location
print(os.getcwd())

current_dir=os.getcwd()

#Add this folder to python's import path
if current_dir not in sys.path:
    sys.path.append(current_dir)

print("Path added for importing modules here")

C:\Users\HP\Desktop\placement_app_project\database
Path added for importing modules here

In [97]:
import os

print("Current working directory:", os.getcwd())
print("\nFiles in this folder:")
print(os.listdir())

Current working directory: C:\Users\HP\Desktop\placement_app_project\database

Files in this folder:
['.ipynb_checkpoints', 'db_manager.py', 'step01_generate_students_data.ipynb', '__pycache__']

In [99]:
from db_manager import DatabaseManager

In [101]:
#Step 1: Create an object of this class
db = DatabaseManager(
    host='127.0.0.1',
    user='root',
    password='Shubhi@28',
    database='Placement_project'
)

#Step 2: Connect to the database
db.connect()

#Step 3:RUN a SELECT query
rows=db.fetch_query("SELECT * FROM Students LIMIT 5")
for row in rows:
    print(row)

#Step 4:Disconnect the database
db.disconnect()

Connect method completed
Connect method completed
(1, 'Mr. Victor Coleman', 21, 'jesuscarr@example.net', '6865835202', 'Female', 'Port Kathryn', 'Massachusetts', 2019, 'Course D', 2022, None)
(2, 'Matthew Ferguson', 25, 'porteraaron@example.com', '3803755049', 'Male', 'North Colleenborough', 'Nevada', 2018, 'Course D', 2021, None)
(3, 'Courtney Yang', 20, 'crystal52@example.com', '2663748685', 'Male', 'West Sherrystad', 'South Carolina', 2019, 'Course B', 2022, None)
(4, 'Timothy Campbell', 24, 'qsmith@example.com', '5520519514', 'Female', 'Vasquezview', 'New Jersey', 2020, 'Course B', 2023, None)
(5, 'John Johnson', 19, 'gomezmichael@example.net', '8668869425', 'Male', 'East Georgeborough', 'South Carolina', 2019, 'Course D', 2022, None)

In [1]:
'''
import mysql.connector
from mysql.connector import Error

try:
    print("Trying to connect...")

    connection = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='Shubhi@28',
        database='placement_project'
    )

    if connection.is_connected():
        print("✅ Connected to the database successfully!")
        connection.close()
except Error as e:
    print(f"❌ Error while connecting: {e}")
'''

Trying to connect...
✅ Connected to the database successfully!

In [103]:
# Clear unread results if any (before creating a new cursor or running next query)
while cursor.nextset():
    cursor.fetchall()
# Create a fresh cursor or reuse existing only after clearing previous results
cursor = connection.cursor()

# Execute query
cursor.execute("SELECT COUNT(*) FROM Placements WHERE placement_status = 'Placed';")

# Fetch the result (very important to avoid 'Unread result' error)
count = cursor.fetchone()[0]

print(f"Number of students with placement_status = 'Placed': {count}")

Number of students with placement_status = 'Placed': 6